body{
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

li{
    display: inline-block;
}

li a{
    text-decoration:none;
    color: white;
    font-family: Source Sans Pro;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 20px;
}

.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .3s;
}

.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
}

h1{
    color:#8000FF 
}
.header{
    background-color:purple;
    display:flex;
    justify-content: space-between;
}

.site-description{
    background-color: oldlace;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    background-color: orchid;
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}